.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    position: relative;
    width: 500px;
  }

  .modal-content p{
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .modal-content button {
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #FF4141;
    margin: 50px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }
  